/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Verdana', sans-serif;
}

header {
  padding: 2rem 5rem 0 5rem;
  width: 100%;
  background: aquamarine;
}

header h1, header img {
 margin-bottom: 1rem;
}

header > img {
  height: 100px;
  width: auto;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav li {
  margin-right: 1.5rem;
  border: palevioletred 2px solid;
  border-bottom: none;
}

header nav li:hover {
  background: palevioletred;
}

header nav li#active{
  background: skyblue;
}

header nav a {
  display: block;
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
} 

.main-container { 
  display: flex;
}

main {

  padding: 15rem 5rem;
  width: 70%;
  background: palevioletred;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h3 {
 font-size: 2rem;
 margin-bottom: 1rem;
}

main p {
  margin-bottom: 2rem;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: orangered;
}

aside ul {
  list-style: none;
}

aside li {
  margin: 2rem 0;
  font-size: 2rem;
}

/* aside a {
  font-size: 2rem;
} */

footer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(54, 255, 81);
}