@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}	


body {
  background: black;
  font-family: 'Indie Flower', cursive;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* About Section */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .about-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#about .about-container section {
  width: 30%;
  background-image: url('images/alastorflipped.png');
  background-color: white;
  /* margin: 0 1rem; */
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem;
}

#about h3 {
  text-align: center;
  padding: 6rem 0;
}

#about .about-container .box {
  background-color: black;
  color: hotpink;
  width: 12rem;
  height: 12rem;
  /* margin-left: 1rem; */
  position: relative;
}

#about .button {
  position: absolute;
  right: -10px;
  bottom: -5px;

  background: rgb(255, 188, 100);
  padding: 1rem 1.4rem;
  font-size: 1.5rem;
}

#about .price {
  background: black;
  color: white;
  padding: 0.8rem 0.6rem;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}

/* Contact Section */

#contact {
  border: 2px red dashed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

#contact img {
  height: 700px;
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#image-left {
  left: 0;
}

#image-right {
  right: 0;
}